/* #F2B680
#F2E0D0
#BF6C3B
#594336
#261A16 */

body {
    background-color: #F2E0D0;
    color: #594336;
    height: 100vh;
    box-sizing: border-box;
}

menu {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 8px dotted #F2B680;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.menu__links{
    text-decoration: none;
    color: #594336;
    font-size: 22px;
}

.menu__links:hover {
    transform: scale(1.4);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

img {
width: 469px;
margin-left: 60px;
border: 1px solid #F2E0D0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}

.apresentacao__conteudo {
    width: 615px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque {
    color: #BF6C3B;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.apresentacao__links__link {
    background-color: #594336;
    width: 230px;
    text-align: center;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F2E0D0;
}

.apresentacao__links__link:hover {
    transform: scale(1.1);
}

footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 8px dotted #F2B680;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

footer a{
    color: #594336;
    font-size: 20px;
}
